
  .section{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .section p{
    font-size: 20px;
  }
  .tabs .indicator{
    background-color: #616161 ;
  }
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background: #bdbdbd  ;
  }
  form{
  padding: 20px;
  }
  form .input-field{
    font-size: 20px;
  }
nav ul a{
  font-size: 20px;
}
.indigo-text{

  font-weight: 900;
  font-size: 3rem;
}
.black-text{
  font-weight: 700;
  font-size: 20px;
}
.white-text{
  font-weight: 700;
  font-size: 20px;
}