
  .section{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .section p{
    font-size: 25px;
  }
  .tabs .indicator{
    background-color: #616161 ;
  }
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background: #bdbdbd  ;
  }
  form{
  padding: 20px;
  }
  form .input-field{
    font-size: 20px;
  }
nav ul a{
  font-size: 20px;
}